<div>
  <h2 class="line-1 anim-typewriter">~$ Hi, I'm Dominic</h2>
</div>

<div style="margin: 5px">
  <h3>And this is my litle site in Internet</h3>
  <h3>I'm a web developer student</h3>
  <h3>I've worked with all of these:</h3>
  <ul>
    <li>
      <div class="techIknow">
        <h3 class="name">HTML5</h3>
        <img
          class="image"
          src="../../assets/img/skills/html5.png"
          alt="html5"
        />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Angular</h3>
        <img
          class="image"
          src="../../assets/img/skills/angular_js.png"
          alt="html5"
        />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Node JS</h3>
        <img
          class="image"
          src="../../assets/img/skills/node_js.png"
          alt="html5"
        />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Docker</h3>
        <img
          class="image"
          src="../../assets/img/skills/docker.png"
          alt="html5"
        />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Java</h3>
        <img class="image" src="../../assets/img/skills/java.png" alt="html5" />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">PHP</h3>
        <img class="image" src="../../assets/img/skills/php.png" alt="html5" />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Amazon Web Services</h3>
        <img class="image" src="../../assets/img/skills/AWS.png" alt="html5" />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Google Cloud</h3>
        <img
          class="image"
          src="../../assets/img/skills/google_cloud.png"
          alt="html5"
        />
      </div>
    </li>
    <li>
      <div class="techIknow">
        <h3 class="name">Microsoft Azure</h3>
        <img
          class="image"
          src="../../assets/img/skills/microsoft-azure.png"
          alt="html5"
        />
      </div>
    </li>
  </ul>

  <h3>What do you wanna know about?</h3>

  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
  <h3>What do you wanna know about?</h3>
</div>
