* {
  font-family: "Ubuntu-MonoSpace";
}
.line-1 {
  font-family: "Ubuntu-MonoSpace";
  color: lime;
  margin: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(0px);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 1s steps(15) 1s 1 normal both,
    blinkTextCursor 500ms steps(15) infinite normal;
}
@keyframes typewriter {
  from {
    width: 1em;
  }
  to {
    width: 9em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.techIknow {
  display: inline-block;
  vertical-align: middle;
}

.techIknow .name {
  float: left;
}

.techIknow .image {
  max-width: 50px;
  left: 300px;
  position: absolute;
}
