<div class="root-container">
  <div class="root-container__full-overlay" (click)="toggleSidenav()"></div>
  <div class="sidenav">
    <button class="sidenav__toggle" (click)="toggleSidenav()">toggle</button>
    <div class="sidenav-item">
      <h2><a [routerLink]="'/info'" (click)="toggleSidenav()">Info</a></h2>
    </div>
  </div>
  <div class="center">
    <div class="header">
      <button class="sidenav__toggle title-button" (click)="toggleSidenav()">
        toggle
      </button>
      <h2 class="title">Domi-dev</h2>
    </div>
    <div class="content"><router-outlet></router-outlet></div>
  </div>
</div>
