<div class="root-container">
  <div class="root-container__full-overlay" (click)="toggleSidenav()"></div>
  <div class="sidenav">
    <img src="../favicon.ico" class="logo" alt="fd" />
    <a
      href="javascript:void(0)"
      class="closebtn close"
      (click)="toggleSidenav()"
      >&times;</a
    >
    <div class="sidenav-item">
      <h2><a [routerLink]="'/'" (click)="toggleSidenav()">Info</a></h2>
      <h2>
        <a [routerLink]="'/myLinks'" (click)="toggleSidenav()">My Links</a>
      </h2>
    </div>
  </div>
  <div class="center">
    <div class="header">
      <span class="openSidenavButton" (click)="toggleSidenav()">&#9776;</span>
      <h1 class="title">Domi-dev</h1>
    </div>
    <div class="content"><router-outlet></router-outlet></div>
  </div>
</div>
