<div class="myLinks">
  <ul>
    <li>
      <div class="link">
        <h3 class="name">My Github profile:</h3>
        <a class="image" href="https://github.com/doctordp"
          ><img
            src="../../assets/img/contact/github_logo.png"
            class="imageimage"
            alt="GitHub"
          />
          <p>GitHub</p>
        </a>
      </div>
    </li>

    <li>
      <div class="link">
        <h3 class="name">My LinkedIn profile:</h3>
        <a
          class="image"
          href="https://www.linkedin.com/in/dominic-demeterca-b83645171/"
          ><img
            class="imageimage"
            src="../../assets/img/contact/linkedin_logo.png"
            alt="linkedin"
        /></a>
      </div>
    </li>
    <li>
      <div class="link">
        <h3 class="name">My e-mail:</h3>
        <a class="image" href="mailto:dominicdemeterca@gmail.com"
          ><img
            class="imageimage"
            src="../../assets/img/contact/gmail_logo.png"
            alt="gmail"
          />
          <p>dominicdemeterca@gmail.com</p></a
        >
      </div>
    </li>
  </ul>
</div>
